.eyecatch-img-container {
  width: 100%;
}

.eyecatch-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 0 0;
  display: block;
}

.catch-copy {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.about {
  height: 100px;
  text-align: center;
}
.about-para{
  line-height: 30px;
}
.bold{
  font-weight: bold;
}

.blog{
  text-align: center;
}
.flex{
  display: flex;
  justify-content: center;
}
.card{
  width: 30%;
  text-align: left;
  font-weight: bold;
  margin: 0px 20px;
}
.card-img{
  width: 100%;
}
.card-txt{
  margin-top: 15px;
  font-size: 16px;
  line-height: 25px;
}

.contact{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

tr {
  text-align: left;
}
th {
  padding-right: 130px;
}

select {
  margin-bottom: 20px;
}
.contact-text {
  width: 400px;
  margin-bottom: 20px;
}
.delete {
  padding: 5px 70px;
  margin: 0 10px 100px;
  border: none;
  background: rgb(227, 227, 227);
}
.submit {
  color: white;
  padding: 5px 70px;
  margin: 0 10px 100px;
  border: none;
  background: rgb(59, 167, 173);
}